In [2]:
from pyspark.sql import SparkSession

In [4]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType,FloatType

In [6]:
spark=SparkSession.builder.appName('minimum_temp').master('local').getOrCreate()
schema=StructType([StructField('ID',StringType(),True),StructField('Date_of_Birth',IntegerType(),True),StructField('Max_Min_temp',StringType(),True),StructField('Temp',FloatType(),True)])
df=spark.read.csv(path="file:///SparkCourse/1800.csv",schema=schema)
df.show()

+-----------+-------------+------------+------+
|         ID|Date_of_Birth|Max_Min_temp|  Temp|
+-----------+-------------+------------+------+
|ITE00100554|     18000101|        TMAX| -75.0|
|ITE00100554|     18000101|        TMIN|-148.0|
|GM000010962|     18000101|        PRCP|   0.0|
|EZE00100082|     18000101|        TMAX| -86.0|
|EZE00100082|     18000101|        TMIN|-135.0|
|ITE00100554|     18000102|        TMAX| -60.0|
|ITE00100554|     18000102|        TMIN|-125.0|
|GM000010962|     18000102|        PRCP|   0.0|
|EZE00100082|     18000102|        TMAX| -44.0|
|EZE00100082|     18000102|        TMIN|-130.0|
|ITE00100554|     18000103|        TMAX| -23.0|
|ITE00100554|     18000103|        TMIN| -46.0|
|GM000010962|     18000103|        PRCP|   4.0|
|EZE00100082|     18000103|        TMAX| -10.0|
|EZE00100082|     18000103|        TMIN| -73.0|
|ITE00100554|     18000104|        TMAX|   0.0|
|ITE00100554|     18000104|        TMIN| -13.0|
|GM000010962|     18000104|        PRCP|   0.0|
|EZE00100082|     18000104|        TMAX| -55.0|
|EZE00100082|     18000104|        TMIN| -74.0|
+-----------+-------------+------------+------+
only showing top 20 rows

In [28]:
df44=df.filter(df.Max_Min_temp=='TMIN')
#df44.Temp=df44.Temp * 0.1 * (9.0 / 5.0) + 32.0
df441=df44.select('ID','Temp')
df4411=df441.groupBy('ID').min('Temp')

In [29]:
#df4411.min(Temp)=float(df4411.min(Temp)) * 0.1 * (9.0 / 5.0) + 32.0

In [30]:
from pyspark.sql import functions as func

In [31]:
df234=df4411.withColumn('Temp',func.round(func.col("min(temp)") * 0.1 * (9.0 / 5.0) + 32.0, 2)).select("ID", "temp").sort("temp")

In [54]:
df2341=df4411.withColumn('min(temp)',func.round(func.col('min(temp)')* 0.1 * (9.0 / 5.0) + 32.0,2))#.select("ID", "temp").sort("temp)

In [55]:
df2341.show()

+-----------+---------+
|         ID|min(temp)|
+-----------+---------+
|ITE00100554|     5.36|
|EZE00100082|      7.7|
+-----------+---------+

In [56]:
df234.show()

+-----------+----+
|         ID|temp|
+-----------+----+
|ITE00100554|5.36|
|EZE00100082| 7.7|
+-----------+----+

In [57]:
df234.collect()

[Row(ID='ITE00100554', temp=5.36), Row(ID='EZE00100082', temp=7.7)]

In [61]:
for tem in df234.collect():
    print(tem[0],str(tem[1])+'F')

ITE00100554 5.36F
EZE00100082 7.7F