In [1]:
from pyspark.sql import SparkSession # main entry point for DataFrame and Sql functionlaity

In [2]:
from pyspark.sql import Row

In [3]:
spark=SparkSession.builder.appName('Example2020').master('local').getOrCreate()

In [4]:
parquet=spark.read.parquet("file:///SparkCourse/01_Datasets/customer_parq.parquet")
parquet.show(5)

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|           00725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|           00725|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 5 rows

### createDataFrame

In [5]:
data = [('James','','Smith','1991-04-01','M',3000),('Michael','Rose','','2000-05-19','M',4000),('Robert','','Williams','1978-09-05','M',4000),('Maria','Anne','Jones','1967-12-01','F',4000),('Jen','Mary','Brown','1980-02-17','F',-1)]

In [6]:
df=spark.createDataFrame(data,schema=['First_Name','Middle_Name','Last_Name','Date_of_Birth','Gender','Salary'])
df.show()

+----------+-----------+---------+-------------+------+------+
|First_Name|Middle_Name|Last_Name|Date_of_Birth|Gender|Salary|
+----------+-----------+---------+-------------+------+------+
|     James|           |    Smith|   1991-04-01|     M|  3000|
|   Michael|       Rose|         |   2000-05-19|     M|  4000|
|    Robert|           | Williams|   1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|   1967-12-01|     F|  4000|
|       Jen|       Mary|    Brown|   1980-02-17|     F|    -1|
+----------+-----------+---------+-------------+------+------+

In [7]:
df.printSchema()

root
 |-- First_Name: string (nullable = true)
 |-- Middle_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Date_of_Birth: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

### Create Dataframe from RDD

In [8]:
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [9]:
conf=SparkSession.builder.appName('dataframe_example1').master('local').getOrCreate()

In [10]:
rdd=conf.sparkContext.parallelize(data)
type(rdd)

pyspark.rdd.RDD

In [11]:
dfrdd=rdd.toDF(schema=['language','user_count'])
dfrdd.show()

+--------+----------+
|language|user_count|
+--------+----------+
|    Java|     20000|
|  Python|    100000|
|   Scala|      3000|
+--------+----------+

In [12]:
rowData = map(lambda x: Row(*x),data) 
dfFromData3 = spark.createDataFrame(rowData,columns)
dfFromData3.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

### Create pyspark using schema

In [13]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [14]:
data2 = [("James","","Smith","36636","M",3000),("Michael","Rose","","40288","M",4000),("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),("Jen","Mary","Brown","","F",-1)]

In [15]:
Schema=StructType([StructField('Firstname',StringType(),True),StructField('Middlename',StringType(),True),StructField('Lastname',StringType(),True),StructField('Id',StringType(),True),StructField('Gender',StringType(),True),StructField('Salary',IntegerType(),True)])

In [16]:
df_schema=spark.createDataFrame(data=data2,schema=Schema)
df_schema.show()

+---------+----------+--------+-----+------+------+
|Firstname|Middlename|Lastname|   Id|Gender|Salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

### Creating DataFrame from other sources

In [17]:
Schema1=StructType([StructField('Id',StringType(),True),StructField('Date_of_year',StringType(),True),StructField('Temp_max',StringType(),True),StructField('Temp',IntegerType(),True),StructField('Gender',StringType(),True),StructField('Salary',StringType(),True),StructField('Salary1',StringType(),True),StructField('Salary3',StringType(),True)])

In [18]:
df11=spark.read.csv(path='file:///SparkCourse/1800.csv',schema=Schema1)
df11.show()

+-----------+------------+--------+----+------+------+-------+-------+
|         Id|Date_of_year|Temp_max|Temp|Gender|Salary|Salary1|Salary3|
+-----------+------------+--------+----+------+------+-------+-------+
|ITE00100554|    18000101|    TMAX| -75|  null|  null|      E|   null|
|ITE00100554|    18000101|    TMIN|-148|  null|  null|      E|   null|
|GM000010962|    18000101|    PRCP|   0|  null|  null|      E|   null|
|EZE00100082|    18000101|    TMAX| -86|  null|  null|      E|   null|
|EZE00100082|    18000101|    TMIN|-135|  null|  null|      E|   null|
|ITE00100554|    18000102|    TMAX| -60|  null|     I|      E|   null|
|ITE00100554|    18000102|    TMIN|-125|  null|  null|      E|   null|
|GM000010962|    18000102|    PRCP|   0|  null|  null|      E|   null|
|EZE00100082|    18000102|    TMAX| -44|  null|  null|      E|   null|
|EZE00100082|    18000102|    TMIN|-130|  null|  null|      E|   null|
|ITE00100554|    18000103|    TMAX| -23|  null|  null|      E|   null|
|ITE00100554|    18000103|    TMIN| -46|  null|     I|      E|   null|
|GM000010962|    18000103|    PRCP|   4|  null|  null|      E|   null|
|EZE00100082|    18000103|    TMAX| -10|  null|  null|      E|   null|
|EZE00100082|    18000103|    TMIN| -73|  null|  null|      E|   null|
|ITE00100554|    18000104|    TMAX|   0|  null|  null|      E|   null|
|ITE00100554|    18000104|    TMIN| -13|  null|  null|      E|   null|
|GM000010962|    18000104|    PRCP|   0|  null|  null|      E|   null|
|EZE00100082|    18000104|    TMAX| -55|  null|  null|      E|   null|
|EZE00100082|    18000104|    TMIN| -74|  null|  null|      E|   null|
+-----------+------------+--------+----+------+------+-------+-------+
only showing top 20 rows

### Read Text File

In [20]:
df22=spark.read.text('file:///SparkCourse/01_Datasets/data_10.txt')
df22.show()

+--------------------+
|               value|
+--------------------+
|01,senthil,parace...|
|02,saravanan,avil...|
|03,rajesh,metacin...|
|04,usha,paracetam...|
|05,alex,paracetam...|
|06,nasir,metacin,...|
|07,singh,paraceta...|
|08,santhosh,parac...|
|09,sarah,avil,fem...|
|10,raj,metacin,ma...|
|11,uday,crocin,ma...|
|12,alexander,anac...|
|13,nimrat,metacin...|
|14,shiva,paraceta...|
|15,senthilnathan,...|
|16,saravanan,avil...|
|17,ramkumar,croci...|
|18,sandhya,lanoxi...|
|19,madan,lanoxin,...|
|20,kavitha,metaci...|
+--------------------+
only showing top 20 rows

### Read Json file

In [21]:
df33=spark.read.json('file:///SparkCourse/01_Datasets/json_sample.json')
df33.show()

+---------+-------+--------+----+----------+
|  Address|Boolean|  Mobile|Name|      Pets|
+---------+-------+--------+----+----------+
|[USA, AU]|   true|12345678|Test|[Dog, cat]|
+---------+-------+--------+----+----------+

### pyspark read and write Parquet

In [22]:
df.write.parquet("file:///SparkCourse/01_Datasets/user_parq.parquet")

In [23]:
dfp=spark.read.parquet("file:///SparkCourse/01_Datasets/user_parq.parquet")
dfp.show()

+----------+-----------+---------+-------------+------+------+
|First_Name|Middle_Name|Last_Name|Date_of_Birth|Gender|Salary|
+----------+-----------+---------+-------------+------+------+
|     James|           |    Smith|   1991-04-01|     M|  3000|
|   Michael|       Rose|         |   2000-05-19|     M|  4000|
|    Robert|           | Williams|   1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|   1967-12-01|     F|  4000|
|       Jen|       Mary|    Brown|   1980-02-17|     F|    -1|
+----------+-----------+---------+-------------+------+------+

In [24]:
df.show()

+----------+-----------+---------+-------------+------+------+
|First_Name|Middle_Name|Last_Name|Date_of_Birth|Gender|Salary|
+----------+-----------+---------+-------------+------+------+
|     James|           |    Smith|   1991-04-01|     M|  3000|
|   Michael|       Rose|         |   2000-05-19|     M|  4000|
|    Robert|           | Williams|   1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|   1967-12-01|     F|  4000|
|       Jen|       Mary|    Brown|   1980-02-17|     F|    -1|
+----------+-----------+---------+-------------+------+------+

In [28]:
from pyspark.sql import DataFrameWriter

In [30]:
df.write.mode('append').parquet("file:///SparkCourse/01_Datasets/user_parq.parquet")

In [31]:
df.write.mode('overwrite').parquet("file:///SparkCourse/01_Datasets/user_parq.parquet")

### Executing SQL Queries on DataFrame

#####  pyspark sql create temporary view on paraquet files to execute sql queries.

In [51]:
df.createOrReplaceTempView('ParquetTable')

In [52]:
parksql=spark.sql('select * from ParquetTable where salary >=4000')

In [53]:
parksql.show()

+----------+-----------+---------+-------------+------+------+
|First_Name|Middle_Name|Last_Name|Date_of_Birth|Gender|Salary|
+----------+-----------+---------+-------------+------+------+
|   Michael|       Rose|         |   2000-05-19|     M|  4000|
|    Robert|           | Williams|   1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|   1967-12-01|     F|  4000|
+----------+-----------+---------+-------------+------+------+

In [66]:
parquet.createOrReplaceTempView('table')
pyspark_sql=spark.sql('select * from table where  customer_zipcode= 78521 ')
pyspark_sql.show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|        526|      Kimberly|       Barrett|     XXXXXXXXX|        XXXXXXXXX|     7988 High Jetty|  Brownsville|            TX|           78521|
|       4294|   Christopher|      Espinoza|     XXXXXXXXX|        XXXXXXXXX|      3737 Blue Path|  Brownsville|            TX|           78521|
|       4963|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|     1325 Noble Pike|  Brownsville|            TX|           78521|
|       7063|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|     472 Noble Mall |  Brownsville|            TX|           78521|
|       9733|         Marie|        Acosta|     XXXXXXXXX|        XXXXXXXXX|5459 Noble Brook ...|  Brownsville|            TX|           78521|
|       9761|         Helen|         Smith|     XXXXXXXXX|        XXXXXXXXX|8927 Merry Elk Ce...|  Brownsville|            TX|           78521|
|       9963|           Roy|       Merritt|     XXXXXXXXX|        XXXXXXXXX|     3278 Misty Port|  Brownsville|            TX|           78521|
|      10942|        Donald|         Smith|     XXXXXXXXX|        XXXXXXXXX| 1674 Lost Diversion|  Brownsville|            TX|           78521|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+

In [79]:
spark.sql('create temporary view person11 using parquet options (path \"file:///SparkCourse/01_Datasets/customer_parq.parquet\")')

DataFrame[]

In [86]:
spark.sql('select * from person11').show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|           00725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|           00725|
|          6|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|3151 Sleepy Quail...|      Passaic|            NJ|           07055|
|          7|       Melissa|        Wilcox|     XXXXXXXXX|        XXXXXXXXX|9453 High Concession|       Caguas|            PR|           00725|
|          8|         Megan|         Smith|     XXXXXXXXX|        XXXXXXXXX|3047 Foggy Forest...|     Lawrence|            MA|           01841|
|          9|          Mary|         Perez|     XXXXXXXXX|        XXXXXXXXX| 3616 Quaking Street|       Caguas|            PR|           00725|
|         10|       Melissa|         Smith|     XXXXXXXXX|        XXXXXXXXX|8598 Harvest Beac...|     Stafford|            VA|           22554|
|         11|          Mary|       Huffman|     XXXXXXXXX|        XXXXXXXXX|    3169 Stony Woods|       Caguas|            PR|           00725|
|         12|   Christopher|         Smith|     XXXXXXXXX|        XXXXXXXXX|5594 Jagged Ember...|  San Antonio|            TX|           78227|
|         13|          Mary|       Baldwin|     XXXXXXXXX|        XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|            PR|           00725|
|         14|     Katherine|         Smith|     XXXXXXXXX|        XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|            CA|           90660|
|         15|          Jane|          Luna|     XXXXXXXXX|        XXXXXXXXX|    673 Burning Glen|      Fontana|            CA|           92336|
|         16|       Tiffany|         Smith|     XXXXXXXXX|        XXXXXXXXX|      6651 Iron Port|       Caguas|            PR|           00725|
|         17|          Mary|      Robinson|     XXXXXXXXX|        XXXXXXXXX|     1325 Noble Pike|       Taylor|            MI|           48180|
|         18|        Robert|         Smith|     XXXXXXXXX|        XXXXXXXXX|2734 Hazy Butterf...|     Martinez|            CA|           94553|
|         19|     Stephanie|      Mitchell|     XXXXXXXXX|        XXXXXXXXX|3543 Red Treasure...|       Caguas|            PR|           00725|
|         20|          Mary|         Ellis|     XXXXXXXXX|        XXXXXXXXX|      4703 Old Route|West New York|            NJ|           07093|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [87]:
df33.show()

+---------+-------+--------+----+----------+
|  Address|Boolean|  Mobile|Name|      Pets|
+---------+-------+--------+----+----------+
|[USA, AU]|   true|12345678|Test|[Dog, cat]|
+---------+-------+--------+----+----------+